{% extends 'base/index.html' %}
{% load static %}

{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> Portal do Paciente </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <!-- Optionally, breadcrumb or other components can go here -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Calendar column -->
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-body p-0">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Script for initializing the calendar -->
<script>
    $(function () {
      var Calendar = FullCalendar.Calendar;
      var calendarEl = document.getElementById('calendar');

      var calendar = new Calendar(calendarEl, {
        headerToolbar: {
          left  : 'prev,next today',
          center: 'title',
          right : 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        themeSystem: 'bootstrap',
        // Events will need to be fetched from the database and populated here
        events: [
          // Example of adding an event with additional details:
          { 
            title: 'Consulta com Doutor X', 
            start: '2024-04-10', 
            end: '2024-04-10',
            description: 'Consulta com X sla', // Custom property for additional details
            // Other custom properties can be added here
          }
        ],
        eventClick: function(info) {
          // Use info.event to access the clicked event object
          var eventObj = info.event;
        
          // Display event details in a modal or an alert
          // For example, showing a Bootstrap modal with event details:
          $('#eventDetailTitle').text(eventObj.title);
          $('#eventDetailBody').html(`<p>Start: ${eventObj.start.toLocaleString()}</p><p>${eventObj.extendedProps.description}</p>`); // Using extendedProps to access custom properties
          $('#eventDetailModal').modal('show');
        },
        editable  : false,
        droppable : false, // this allows things to be dropped onto the calendar !!!
      });

      calendar.render();
    });
</script>

<!-- Event Details Modal -->
<div class="modal fade" id="eventDetailModal" tabindex="-1" aria-labelledby="eventDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailTitle">Detalhes do Agendamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="eventDetailBody">
        <!-- Event details will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}