{% extends 'base/index.html' %}
{% load static %}

{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> Agendamentos </h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Profissionais disponíveis</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Profissional</th>
                  <th>Email</th>
                  <th>Dias da Semana</th>
                  <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for professional in professionals %}
                  <tr>
                    <td>{{ professional.name }}</td>
                    <td>{{ professional.type }}</td>
                    <td>{{ professional.email }}</td>
                    <td>
                      {% for day in professional.days_available %}
                        {{ day }}, 
                      {% endfor %}
                    </td>
                    <td>
                      <div class="d-flex justify-content-center"> 
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-{{ professional.id }}">
                          <i class="fa-solid fa-pen-to-square"></i> Consultar agenda
                        </button>
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="modal-edit-{{ professional.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle-{{ professional.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modalTitle-{{ professional.id }}">Agendas disponíveis</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!-- Certifique-se de que a ação do formulário seja sua URL de endpoint desejada para POST -->
                              <form id="booking-form-{{ professional.id }}" method="post" action="{% url 'appointments' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="time-slot-select-{{ professional.id }}">Escolha um horário:</label>
                                  <select id="time-slot-select-{{ professional.id }}" class="form-control time-slot-select" name="time_slot" required>
                                    <option value="">Selecione um horário</option>
                                    {% for slot in professional.time_slots %}
                                      <option value="{{ slot }}" data-raw-slot="{{ slot }}">{{ slot }}</option>
                                    {% empty %}
                                      <option disabled>Não há horários disponíveis.</option>
                                    {% endfor %}
                                  </select>
                                </div>

                                <!-- Hidden fields to send additional data -->
                                <input type="hidden" name="patient" value="{{ user.id }}" />
                                <input type="hidden" name="professional_id" value="{{ professional.id }}" />
                                <input type="hidden" name="profession" value="{{ professional.type }}" />
                                <input type="hidden" name="professional_name" value="{{ professional.name }}"/>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <!-- O form attribute no botão deve corresponder ao id do form -->
                              <button type="submit" class="btn btn-success" form="booking-form-{{ professional.id }}">Agendar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  // Quando o conteúdo do documento for carregado
  document.addEventListener('DOMContentLoaded', function() {
    // Selecionar todos os elementos select com a classe time-slot-select
    var selectElements = document.querySelectorAll('.time-slot-select');
    
    selectElements.forEach(function(selectElement) {
      // Iterar sobre cada opção no elemento select
      for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        
        // Pular as opções que não são horários
        if (option.value) {
          var rawSlot = option.getAttribute('data-raw-slot');
          var date = new Date(rawSlot);
          var userFriendlyDate = date.toLocaleString('pt-BR', {
            weekday: 'long', // "segunda-feira"
            year: 'numeric', // 2024
            month: 'long', // "abril"
            day: 'numeric', // 15
            hour: '2-digit', // 14
            minute: '2-digit', // 00
            hour12: false // usar formato de 24 horas
          });
          option.textContent = userFriendlyDate;
        }
      }
    });
  });
</script>

{% endblock body %}
