{% extends 'base/index.html' %}
{% load static %}

{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> Portal do Paciente </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
    
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Profissional</th>
                <th>Agenda da Semana</th>
                <th>Avaliação</th>
                <th>Ação</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Pedro Pedro</td>
                <td>Nutricionista
                </td>
                <td>Seg, Terça, Quinta</td>
                <td>4</td>
                <td>
                  <div class="d-flex justify-content-center"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit">
                      <i class="fa-solid fa-pen-to-square"></i>
                      Consultar agenda
                    </button>
                    
                    <div class="modal fade" id="modal-edit">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Agendas disponíveis</h4>
                          </div>
                          <div class="modal-body">
                              Colocar informações da agenda aqui (colocar um calendário?)
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-success" form="edit_form" id="edit_form">Agendar</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock body %}