{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="overflow: scroll;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Medic</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <nav class="navbar navbar-expand-md bg-body py-3" style="background: linear-gradient(#22577a 100%, white 100%);">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'doctor_portal-home' %}">
                    <img src="{% static 'imgs/logo.jpeg' %}" style="width: 50px;border-radius: 30px;position: relative;margin-right: 10px;">
                    <span style="color: #80ed99;font-size: 15px;font-weight: bold;text-align: left;">
                        VitaLink<br>Médico
                    </span>
                </a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'doctor_portal-agenda' %}" style="color: #80ed99;text-align: center;background: linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'doctor_portal-pacientes' %}" style="color: #80ed99;text-align: center;background: linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'doctor_portal-perfil' %}" style="color: #80ed99;text-align: center;background: linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/accounts/logout" style="color: #80ed99;text-align: center;background: linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Sair</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script id="bs-live-reload" data-sseport="5000" data-lastchange="1711751623914" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>