{% extends "doctor_portal/base.html"%}
{%block content %}
    <div class="container">
        <h1 style="color: #38a3a5;font-size: 25px;font-weight: bold;text-align: left;padding-top: 10px;padding-bottom: 10px;">Pacientes</h1>
        <ul class="list-group">
            {% for Paciente in Pacientes %}
                <li class="list-group-item" style="height: 45px;">
                    <span style="color: #38a3a5;font-weight: bold;">{{ Paciente.nome}}</span>
                    <a href={% url 'doctor_portal-consulta' Paciente.nome %}
                        <button class="btn btn-primary" type="button" style="float: right;display: flex;border-radius: 20px;background: #22577a;color: #80ed99;text-align: center;font-size: 10px;">Consultas</button>    
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
