{% extends "doctor_portal/base.html"%}
{%block content %}
    <div class="container">
        <h1 style="color: #38a3a5;font-size: 25px;font-weight: bold;text-align: left;padding-top: 10px;padding-bottom: 10px;">Dr. Raffael Medico Doutor</h1>
        <div class="container">
            <small style="color: #38a3a5;font-weight: bold;">Idade: 27 anos</small>
        </div>
        <div class="container">
            <small style="color: #38a3a5;font-weight: bold;">Especializacao: medicina</small>
        </div>
    </div>
{% endblock content %}